.icon{
    position: absolute;
    top: 0%;
    right: 2%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icon i{
    width: 30px;
    height: 30px;
    color: rgb(49, 49, 49);
    font-size: 50px;
}

#fullscreenIcon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilos para el icono de pantalla completa y salida de pantalla completa */
#fullscreenIcon.fullscreen .bx-fullscreen {
    display: none;
}

#fullscreenIcon.exitedFullscreen .bx-exit-fullscreen {
    display: none;
}

#atras2, #atras{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
   #atras2, #atras {
       top: 10px;
       left: 10px;
   }
}

@media screen and (max-width: 500px) {
    #atras2 , #atras{
       font-size: 25px;
     
    }
    
}