@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

:root {
    --background-color: #292929;
    --text-color: white;
    --hover-active: #3b3b3b;
    --box-shadow: #272727;
    --principal-red: #d30000;
    --principal-cian: #02e2e2;

}

p{
    font-family: 'KoHo', sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #535353;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

* {
    user-select: none;

}

.hidden {
    display: none !important;
}

#orientation-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    z-index: 1000;
}


body {

    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-image: url(../img/background-combat.png);
    scrollbar-width: none;
    background-color: var(--background-color);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.opponent{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    background: linear-gradient(180deg, rgba(204,0,0,1) 0%, rgba(237,0,0,1) 35%, rgba(255,125,31,1) 100%);
    padding: 10px 30px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    padding: 5px;
    padding-left: 70px;
    padding-right: 20px;
    margin: 0px !important;
    flex-direction: row-reverse;
}

.user{
    padding: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    background: linear-gradient(180deg, rgba(47,0,204,1) 0%, rgba(55,0,237,1) 35%, rgba(25,207,255,1) 100%);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    padding-left: 20px;
    padding-right: 70px;
    margin: 0px !important;
}

.end-turn {
    display: none;
}

.yourCards {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.yourCards .card{
    width: 180px;
    height: 251px;
    transition: 0.5s ease;
    margin: -50px -30px;
    position: relative;
}

.yourCards .card:hover{
    transform: translateY(-67px);
    scale: 1.3;
    z-index: 1;
}

.opponent, .user{
    min-width: 200px;
}
.opponent img, .user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 4px 4px darkslategray;
}

.opponent p, .user p{
    font-family: 'Goldman', cursive;
    font-size: 1.5rem;
    color: white;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 45%;
    transform: translateY(-50%);
}

.opponent-board, .user-board{
    height: 244px;
    display: flex;
    width: 1400px;
    gap: 10px;
    box-shadow: 0px 0px 7px gray;
    border-radius: 10px;
    justify-content: center;
}
.user-board .card, .opponent-board .card{
    width: 175px;
    height: 244px;
    position: relative;
    border-radius: 10px;
}

.user-board .card{
    cursor: pointer;
}

.user-board .card, .opponent-board .card:hover{
    border-radius: 10px;
}

.user-board .card .ataque-especial, .opponent-board .card .ataque-especial{
    position: absolute;
    top: 75%;
    font-size: 6px !important;
    font-weight: 600 !important;
    left: 22px;
    max-width: 135px;

}

.user-board .card .ataque-vida, .opponent-board .card .ataque-vida{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 6px 6px !important;
    font-size: 19px !important;
    font-weight: 600;
    font-family: "Goldman", sans-serif;
    background: #cdcdcd;
    width: 60px;
    height: 22px;
    text-align: center;
    border-radius: 3px;
    border: 2px solid black;
}

.user-board .card .cardName, .opponent-board .card .cardName{
    position: absolute;
    top: 56%;
    left: 16px;
    margin: 0px;
    font-size: 10px; 
    font-weight: 600;
}

.user-board .card .attack{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.user-board .card .attack:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px #002bff;
}


.yourCards .card p {
    position: absolute;
    font-size: 10px;
    color: black;
    margin: 0px;
    font-weight: 600;
    user-select: none;
}

.yourCards .card .cardName {
    top: 56%;
    left: 16px;
    margin: 0px;
}

.yourCards .card .ataque-vida {
    bottom: 0;
    right: 0;
    margin: 14px 19px !important;
    font-size: 10px !important;
    font-weight: 600;
    font-family: "Goldman", sans-serif;
}

.yourCards .card .ataque-especial {
    top: 78%;
    font-size: 6px !important;
    font-weight: 600 !important;
    left: 22px;
    max-width: 135px;

}
button#leave-match{
    position: absolute;
    font-size: 20px;
    color: white;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 50px;
    border-radius: 3px;
    border: none;
    background: red;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    background: linear-gradient(180deg, rgba(204, 0, 0, 1) 0%, rgba(237, 0, 0, 1) 35%, rgb(255 0 0) 100%);
    font-family: 'MedievalSharp';
    cursor: pointer;
}

button#leave-match:hover{
    background: linear-gradient(180deg, rgb(255, 0, 0) 0%, rgb(228, 13, 13) 35%, rgb(255, 20, 20) 100%);
}

#end-turn{
    position: absolute;
    right: 5%;
    bottom: 5%;
    border-radius: 100px;
    background: linear-gradient(180deg, rgba(0, 204, 204, 1) 0%, rgb(15, 122, 126) 35%, rgb(22, 77, 63) 100%);
    color: white;
    font-weight: 1000;
    font-family: medievalSharp;
    font-size: 18px;
    border: none;
    box-shadow: 1px 3px 4px black;
    cursor: pointer;
    padding: 15px 40px;
    transition: 0.3s ease;
}

#end-turn:hover{
    background: linear-gradient(180deg, rgba(22, 77, 63) 0%, rgb(15, 122, 126) 35%, rgb(0, 204, 204, 1) 100%);
}

#end-turn:active{
    background: linear-gradient(180deg, rgb(49, 248, 248) 0%, rgb(50, 206, 211) 35%, rgb(47, 136, 114) 100%);
    box-shadow: none;
    transform: translateY(2px);
}

#turno{
    font-size: 25px;
    font-family: 'MedievalSharp';
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0px;
}

.ataque-especial-button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(180deg, rgba(204, 174, 0, 1) 0%, rgba(233, 227, 12, 1) 25%, rgba(248, 255, 142, 1) 50%, rgba(255, 248, 0, 1) 100%);
    border: none;
    cursor: pointer;
}
.mana {
    position: absolute;
    display: flex;
    left: 70px;
    align-items: center;
    justify-content: center;
    bottom: 100px;
}

.mana img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.mana p {
    font-family: 'MedievalSharp';
    margin: 0px;
    font-size: 30px;
    font-weight: 1000;
    color: #000000;
}

.informacion{
    width: 275px;
    height: 220px;
    position: absolute;
    background-color: #393939;
    top: 50%;
    right: 1%;
    border-radius: 15px;
    transform: translateY(-50%);
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.informacion .name{
    font-family: 'Goldman', cursive;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.informacion .ataque-especial-info{
    font-family: 'Goldman', cursive;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;

}

.informacion .ataque-vida-info{
    font-family: 'Goldman', sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
}


.game-over {
    width: 100%;
    height: 100dvh;
    position: absolute;
    z-index: 1000;
    background-color: #232323b8;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.game-over-container {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-over-container h1 {
    font-size: 40px;
    color: var(--principal-red);
}

.game-over-container .winner {
    font-size: 30px;
    color: var(--principal-cian);
}

.game-over-container .loser {
    font-size: 30px;
    color: var(--principal-red);
}

.game-over-container p {
    font-size: 20px;
    color: white;
}

.game-over-container button {
    padding: 10px 20px;
    border: none;
    background-color: var(--principal-red);
    color: white;
    font-size: 20px;
    font-family: 'MedievalSharp';
    cursor: pointer;
}

/*animaciones*/

.card-no-mana {
    animation: no-mana 0.5s;
}

/*no-mana*/
@keyframes no-mana {
    0% {
        transform: translateX(0);
        border: 3px solid rgb(255, 0, 0);
    }
    25% {
        transform: translateX(-7px);
        border: 3px solid rgb(255, 0, 0);
    }
    50% {
        transform: translateX(7px);
        border: 3px solid rgb(255, 0, 0);
    }
    75% {
        transform: translateX(-7px);
        border: 3px solid rgb(255, 0, 0);
    }
    100% {
        transform: translateX(0);
        border: 3px solid rgb(255, 0, 0);
    }
}

.card-atacado {
    animation: atacado 0.4s;
    animation-delay: 0.2s;
}

/*atacado*/
@keyframes atacado {
    0% {
        scale: 1.0;
        border: 2px solid rgb(255, 0, 0);
    }
    50% {
        scale: 1.1;
        border: 2px solid rgb(255, 0, 0);
    }
    100%{
        scale: 1.0;
        border: 2px solid rgb(255, 0, 0);
    
    }
}

.card-atacando{
    animation: atacando 0.4s;
}

/*atacando*/
@keyframes atacando {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateY(0);
    }
}

.card-heal {
    animation: heal 1s linear;
}

@keyframes heal {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px 0 #37ff37;
    }
    50% {
        transform: scale(1.02);
        box-shadow: 0 0 20px 0 #37ff37;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px 0 #37ff37;
    }
}

/* Estilos cuando se selecciona el ataque especial */
.card.special-attack {
    animation: glow 2s linear infinite alternate;
}


@keyframes glow {
    0% {
        box-shadow: 0 0 10px 2px rgb(238, 255, 0);
    }
    50% {
        box-shadow: 0 0 20px 7px rgb(238, 255, 0);
    }
    100% {
        box-shadow: 0 0 10px 2px rgb(238, 255, 0);
    }
}


.card-muere {
    animation: fadeOutAndShrink 1s;
}

@keyframes fadeOutAndShrink {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

/* Estilos cuando la carta está protegida */
.card.protected {
    animation:borderPulse 3s linear infinite;

}


@keyframes borderPulse {
    0% {
        border: 5px solid #c99300;
    }
    50% {
        border: 5px solid #4b3700;
    }
    100% {
        border: 5px solid #b68601;
    }
}

.card.poison {
    animation: poison 2s infinite;
}

@keyframes poison {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
        background-color: #ba55d37a;
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 1450px) {
    .opponent-board, .user-board {
        width: 1150px;
        height: 202px;
        gap: 6px;
    }
    .yourCards .card{
        width: 140px;
        height: 202px;
    }
    #end-turn{
        padding: 12px 25px;
        font-size: 15px;
    }
    .user .opponent{
        padding-right: 25px;
    }
    .opponent p, .user p{
        font-size: 1.2rem;
    
    }
    .opponent img, .user img{
        width: 50px;
        height: 50px;
    }

    .user-board .card, .opponent-board .card´
    {
        width: 145px;
        height: 202px;
    }
    .yourCards .card:hover{
        transform: translateY(-58px);
    }
}

@media (max-width: 1200px) {

    .opponent-board, .user-board {
        width: 950px;
        height: 161px;
        gap: 5px;
    }

    .yourCards .card{
        width: 125px;
        height: 174px;
    }

    .opponent, .user{
        min-width: 50px;
    
    }
    .user .opponent{
        padding-right: 15px;
    }
    

    .opponent p, .user p{
        font-size: 1rem;
    
    }

    .opponent img, .user img{
        width: 40px;
        height: 40px;
    }

    .user-board .card, .opponent-board .card{
        width: 115px;
        height: 161px;
    }

}

@media (max-width: 1000px){
    .opponent-board, .user-board {
        width: 750px;
        height: 121px;
        gap: 4px;
    }

    .yourCards .card{
        width: 100px;
        height: 141px;
    }

    .opponent, .user{
        min-width: 50px;
    
    }
    .user .opponent{
        padding-right: 15px;
    }
    

    .opponent p, .user p{
        font-size: 0.8rem;
    
    }

    .opponent img, .user img{
        width: 30px;
        height: 30px;
    }

    .user-board .card, .opponent-board .card{
        width: 85px;
        height: 121px;
    }

    .yourCards .card p {
        font-size: 8px;
    }

    .yourCards .card .cardName {
        font-size: 8px;
    }

    .yourCards .card .ataque-vida {
        font-size: 8px;
    }

    .yourCards .card .ataque-especial {
        font-size: 4px;
    }

    .informacion{
        width: 200px;
        height: 160px;
    }

    .informacion .name{
        font-size: 1.2rem;
    }

    .informacion .ataque-especial-info{
        font-size: 0.8rem;
    }

    .informacion .ataque-vida-info{
        font-size: 1.5rem;
    }

    .game-over-container h1 {
        font-size: 30px;
    }

    .game-over-container .winner {
        font-size: 20px;
    }

    .game-over-container .loser {
        font-size: 20px;
    }

    .game-over-container p {
        font-size: 15px;
    }

    .game-over-container button {
        padding: 10px 15px;
        font-size: 15px;
    }

    .mana img {
        width: 30px;
        height: 30px;
    }

    .mana p {
        font-size: 20px;
    }

    #end-turn{
        padding: 10px 20px;
        font-size: 15px;
    
}

@media (max-width: 800px) {

    .hidden{
        display: block !important;
    }

}