@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body{
    background-image: url(../img/backgroundgame.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
    

}

header{
    position: fixed;
    height: 100vh;
    width: 15%;
    box-shadow: 3px 0px 5px  rgb(0, 0, 0);
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
header .logo img{
    width: 40%;    
}


header .logo h1{
    font-size: 3em;
    font-family: "MedievalSharp", cursive;
}

header nav{
    width: 100%;
}

header nav ul{
    margin: 0px;
    max-width: 100%;
    font-family: "koho", sans-serif;
    padding: 0px;
    text-decoration: none;
    list-style:none;
    cursor: pointer;

}


header nav ul li{
    padding: 25px 0px;
    font-size: 33px;
    width: 100%;
    box-shadow: 0px 3px 5px  rgb(0, 0, 0);
    text-align: center;
}

header nav ul li:hover{
    background-color: #3b3b3b;
}

header .config{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px -2px 5px black;
}

header .config:hover{
    background-color: #3b3b3b;
}

header .config i{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

header .config h1{
    font-family: "koho", sans-serif;
    font-weight: 200;
    text-align: center;
}

/*menu*/
#searchGame{
    font-family: "koho", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 50px;
    margin-right: 5%;
    padding: 15px 30px;
    font-size: 30px;
    background-color: #292929;
    color: white;
    border: none;
    border-radius:2px;
    box-shadow: 1px 8px 2px  rgb(0, 0, 0);
    cursor: pointer;
}

#searchGame:hover{
    background-color: #3b3b3b;
    ;
}

#searchGame:active{
    background-color: #3b3b3b;
    box-shadow: 1px 3px 3px  rgb(0, 0, 0) inset;
    transform: translateY(8px);
}

/*Information*/

#information{
    font-family: "koho", sans-serif;
    margin-left: calc(15%);
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    border-radius:5px;
    background-color: #292929;
    display: none;
    min-height: 100vh;
    padding: 70px;

}

#information .container{
    color: white;
    
}

#information .container h1{
    font-size: 2em;
    border-left: 20px solid #ffffff;
    padding-left: 20px;
    
}

#information .container h2{
    font-size: 1em;
    margin: 20px 0px;
    border-bottom: 1px solid #ffffff;
}

#information .container li{
    font-size: 0.8em;
}

#information .container p{
    font-size: 0.8em;
    margin: 20px 0px;
}

/*Shop*/
#shop{
    font-family: "koho", sans-serif;
    margin-left: calc(15%);
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    border-radius:5px;
    background-color: #292929;
    display: none;
    min-height: 100vh;
    padding: 0px;

}

#shop .container{
    color: white;  
    margin: 0px 70px; 
}

#shop .container .top{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    gap: 0px;
}

#shop .container .top h1{
    margin-right: 30px;
}

#shop .container .top button{
    padding: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    background: transparent;
    border: none;
    font-size: 50px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
 .active {
        box-shadow: 1px 3px 5px black inset;
      }

#shop .container .all .filtrer{
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
   
}

#shop .container .all .filtrer form{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding: 10px;
    background-color: #3d3d3d;  
    box-shadow: 1px 3px 5px black;
}

#shop .container .all .filtrer form input[type="text"]{
    padding: 2px;
    width: 300px;
    box-shadow: 1px 1px 3px #272727 inset;
    border: none;
    background: #9D9D9D;
    color: black;
    font-size: 25px;
}

#shop .container .all .filtrer form select{
    padding: 2px;
    box-shadow: 1px 1px 3px #272727 inset;
    border: none;
    background: #9D9D9D;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#shop .container .all .filtrer form button{
    padding: 2px;
    box-shadow: 3px 3px 5px #272727;
    border: none;
    background: #9D9D9D;
    width: 37px;
    height: 37px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    cursor: pointer;

}

/*inventory*/

#inventory{
    font-family: "koho", sans-serif;
    margin-left: calc(15%);
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    border-radius:5px;
    background-color: #292929;
    display: none;
    min-height: 100vh;
    padding: 70px;
}


#inventory .container{
    color: white;  
    margin: 0px 70px; 
}

#inventory .container .links{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 15%;
    display: flex;
    align-items: center;
   
}

#inventory .container .links div{
 width: 100px;
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
 background-color: #000000;
}

#inventory .container .top{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    gap: 0px;
}

#inventory .container .top h1{
    margin-right: 30px;
}

#inventory .container .top button{
    padding: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    background: transparent;
    border: none;
    font-size: 50px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#inventory .container .allcards .filtrer{
    display: flex;
    justify-content: right;
    gap: 10px;
   
}

#inventory .container .allcards .filtrer form select{
    padding: 2px;
    box-shadow: 1px 1px 3px #272727 inset;
    border: none;
    background: #9D9D9D;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 5px;
}


#inventory .container .allcards .filtrer option{
    background-color: #9D9D9D;
    padding: 4px;
}

/*wrap*/
#inventory .container .allcards .yourCards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    align-items: center;
    margin-top: 5%;

}
.yourCards .carta{
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 500px;
    position: relative;

}

.yourCards .carta:hover{
    scale: 1.2;
}

.yourCards .carta p{
    position: absolute;
    top: 0%;
}

/*Settings*/

#settings{
    font-family: "koho", sans-serif;
    margin-left: calc(15%);
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    border-radius:5px;
    background-color: #292929;
    display: none;
    min-height: 100vh;
    padding: 70px;
}

#settings .container{
    color: white;
    
}

#settings .container h1{
    font-size: 2em;
    border-left: 20px solid #ffffff;
    padding-left: 20px;
    
}

#settings .container h2{
    font-size: 1.5em;
    margin: 20px 0px;
    border-bottom: 1px solid #ffffff;
}

#settings .container h3{
    font-size: 1em;
    margin: 0px 0px;
}

#settings .setting div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    margin: 20px 0px;
}

#settings .setting div input[type="range"]{
    width: 300px;
    height: 20px;
    background-color: #9D9D9D;
    border: none;
    box-shadow: 1px 1px 3px #272727 inset;
}