@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/* custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #535353;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

* {
    user-select: none;

}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
    background-color: #292929;
}

header {
    position: fixed;
    height: 100vh;
    width: 300px;
    box-shadow: 3px 0px 5px rgb(0, 0, 0);
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 00;
}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header .logo img {
    width: 40%;
}


header .logo h1 {
    font-size: 3em;
    font-family: "MedievalSharp", cursive;
}

header nav {
    width: 100%;
}

header nav ul {
    margin: 0px;
    max-width: 100%;
    font-family: "koho", sans-serif;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header nav ul a {
    padding: 25px 0px;
    font-size: 33px;
    width: 100%;
    box-shadow: 0px 3px 5px rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header nav ul a:hover {
    background-color: #3b3b3b;
}

header nav ul a:active {
    background-color: #3b3b3b;
}

header .config {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px 0px;
    box-shadow: 0px -2px 5px black;
}

header .config:hover {
    background-color: #3b3b3b;
}

header .config i {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

header .config a {
    font-family: "koho", sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 33px;
    color: white;
    text-decoration: none;

}

/*menu*/
.perfil {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    background-color: #292929;
    height: 150px;
    clip-path: polygon(12% 0, 100% 0%, 100% 63%, 24% 63%);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding: 0px 20px;
}

.perfil .divUser img {
    width: 70px;
    border-radius: 50px;
    border: 3px solid white;

}

.perfil .divOro {
    margin-left: 150px;
}

.perfil .divOro img {
    width: 30px;
}

.perfil .divUser,
.perfil .divOro {
    display: flex;
    align-items: center;
    gap: 20px;
}

.perfil .divOro p,
.perfil .divUser p {
    font-size: 30px;
    color: white;
    font-family: "koho", sans-serif;
}

/*ChangeFoto*/

#changeFoto {
    position: absolute;
    top: 100px;
    right: 0;
    border-radius: 10px;
    background-color: #292929;
    width: 350px;
    height: 250px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    padding: 10px;
}


#changeFoto .changeFoto-iconos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
    align-items: center;
    overflow-y: auto;
    max-height: 250px;
}

.changeFoto-iconos img {
    width: 95px;
    border-radius: 50px;
    border: 3px solid white;
    transition: all 0.2 ease;
}

.changeFoto-iconos img:hover {
    filter: brightness(1.3);
}

#searchGame {
    font-family: "koho", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 50px;
    margin-right: 5%;
    padding: 15px 30px;
    font-size: 30px;
    background-color: #292929;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 8px 2px rgb(0, 0, 0);
    cursor: pointer;
}


#searchGame:hover {
    background-color: #3b3b3b;
    ;
}

#searchGame:active {
    background-color: #3b3b3b;
    box-shadow: 1px 3px 3px rgb(0, 0, 0) inset;
    transform: translateY(8px);
}

/*Information*/

#information {
    font-family: "koho", sans-serif;
    margin-left: 300px;
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    background-color: #292929;
    min-height: 100vh;
    padding: 70px;

}

#information .container {
    color: white;

}

#information .container h1 {
    font-size: 2em;
    border-left: 20px solid #ffffff;
    padding-left: 20px;

}

#information .container h2 {
    font-size: 1em;
    margin: 20px 0px;
    border-bottom: 1px solid #ffffff;
}

#information .container li {
    font-size: 0.8em;
}

#information .container p {
    font-size: 0.8em;
    margin: 20px 0px;
}

/*Shop*/
#shop {
    font-family: "koho", sans-serif;
    margin-left: 300px;
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    background-color: #292929;
    min-height: 100vh;
    padding: 0px;

}

#shop .container {
    color: white;
    margin: 0px 70px;
}

#shop .container .top {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    gap: 0px;
}

#shop .container .top h1 {
    margin-right: 30px;
}

#shop .container .top button {
    padding: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    background: transparent;
    border: none;
    font-size: 50px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active {
    box-shadow: 1px 3px 5px black inset;
}

#shop .container .all .filtrer {
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;

}

#shop .container .all .filtrer form {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding: 10px;
    background-color: #3d3d3d;
    box-shadow: 1px 3px 5px black;
}

#shop .container .all .filtrer form input[type="text"] {
    padding: 2px;
    width: 280px;
    box-shadow: 1px 1px 3px #272727 inset;
    border: none;
    background: #9D9D9D;
    color: black;
    font-size: 25px;
}

#shop .container .all .filtrer form select {
    padding: 2px;
    box-shadow: 1px 1px 3px #272727 inset;
    border: none;
    background: #9D9D9D;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#shop .container .all .filtrer form button {
    padding: 2px;
    box-shadow: 3px 3px 5px #272727;
    border: none;
    background: #9D9D9D;
    width: 37px;
    height: 37px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    cursor: pointer;

}

/*inventory*/

#inventory,
#chests,
#mazos {
    font-family: "koho", sans-serif;
    margin-left: 300px;
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    background-color: #292929;
    padding: 70px;
}

#inventory .container,
#chests .container,
#mazos .container {
    color: white;
    margin: 0px 70px;
}

#mazos .container{
    margin: 0% !important;

}

#inventory .container .links,
#chests .container .links,
#mazos .container .links {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 300px;
    display: flex;
    align-items: center;
    background-color: #3d3d3d;

}

#inventory .container .links div,
#chests .container .links div,
#mazos .container .links div {
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 66% 0, 100% 100%, 33% 100%);
    background-color: #000000;
    margin-right: -50px;
    cursor: pointer;
}

#inventory .container .links div:hover,
#chests .container .links div:hover,
#mazos .container .links div:hover {
    background-color: #3d3d3d;
}

#especial-link {
    clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%) !important;
}

#inventory .container .links div button,
#chests .container .links div button,
#mazos .container .links div button {
    border: none;
    background-color: transparent;
    font-size: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#inventory .container .links div button i,
#chests .container .links div button i,
#mazos .container .links div button i {
    color: white;
}

#inventory .container .links div button:hover .links div,
#chests .container .links div button:hover .links div,
#mazos .container .links div button:hover .links div {
    color: #696969;
}

#inventory .container .top,
#chests .container .top,
#mazos .container .top {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    gap: 0px;
}

#mazos .container .top{
    margin-left: 5% !important;
}

#inventory .container .top h1,
#chests .container .top h1,
#mazos .container .top h1 {
    margin-right: 30px;
}

#inventory .container .top button,
#chests .container .top button,
#mazos .container .top button {
    padding: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    background: transparent;
    border: none;
    font-size: 50px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#inventory .container .allcards .filtrer {
    display: flex;
    justify-content: right;
    gap: 10px;

}

#inventory .container .allcards .filtrer form select {
    padding: 2px;
    box-shadow: 1px 1px 3px #272727 inset;
    border: none;
    background: #9D9D9D;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 5px;
}


#inventory .container .allcards .filtrer option {
    background-color: #9D9D9D;
    padding: 4px;
}

/*wrap*/
#inventory .container .allcards .yourCards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    place-items: center;
    margin-top: 5%;

}

#mazos .container .allMazos .mazo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin: auto;
    gap: 20px;
    width: 1100px;
    align-items: center;
    margin-top: 5%;
    background: #232323;
    padding: 20px;
    box-shadow: 0px 0px 15px black inset;
}

#mazos .container .allMazos .mazo div {
    width: 250px;
    height: 350px;
    background: #3d3d3d;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
}

#mazos .container .allMazos .mazo div:hover{
    background: #4d4d4d;

}

#mazos .container .allMazos .mazo div p{
    color: black;
    position: absolute;

}

#mazos .container .allMazos .mazo div .nombre{
    font-size: 13px;
    top: 52.5%;
    left: 23px;
    font-weight: 800;
}

#mazos .container .allMazos .mazo div .ataque{
    font-size: 9px;
    top: 75%;
    max-width: 200px;
    left: 28px;
    font-weight: 500;
}

#mazos .container .allMazos .mazo div .ataqueVida{
    display: flex;
    bottom: 18px;
    margin: 0px;
    font-size: 15px;
    font-weight: 800;
    right: 24px;
    font-family: "Goldman", sans-serif;
}

#deckName{
    width: 1100px;
    margin: auto;
}

.yourCards .carta {
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 500px;
    position: relative;
    transition: all 0.2s;

}

.yourCards .carta:hover {
    scale: 1.10;
}


.yourCards .carta p {
    position: absolute;
    font-size: 16px;
    color: black;
    margin: 0px;
    font-weight: 800;
    user-select: none;
}

.yourCards .carta .nombreCarta {
    top: 55%;
    left: 30px;
    margin: 0px;

}

.yourCards .carta .ataque-vida {
    bottom: 0;
    right: 0;
    margin: 40px 38px !important;
    font-size: 18px !important;
    font-weight: 800;
    font-family: "Goldman", sans-serif;
}

.yourCards .carta .ataque-especial {
    top: 75%;
    font-size: 11px !important;
    font-weight: 600 !important;
    left: 40px;
    max-width: 270px;

}

/*cartas-no-mazos*/

#cartas-no-mazo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323b8;
}

#cartas-no-mazo button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#cartas-no-mazo .cartas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    place-items: center;
    width: 1500px;
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #141313;
    padding: 20px 10px;
}

#cartas-no-mazo .cartas .carta{
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 420px;
    position: relative;
    transition: all 0.2s;
}

#cartas-no-mazo {
    display: none;
}

#cartas-no-mazo .cartas .carta .ataque-especial{
    position: absolute;
    top: 75%;
    font-size: 10px !important;
    font-weight: 500 !important;
    left: 35px;
    max-width: 240px;
    color: black;

}

#cartas-no-mazo .cartas .carta .ataque-vida{
    bottom: 0;
    right: 0;
    margin: 26px 30px !important;
    font-size: 18px !important;
    font-weight: 800;
    font-family: "Goldman", sans-serif;
    position: absolute;
    user-select: none;
    color: black;
}

#cartas-no-mazo .cartas .carta .nombreCarta{
    position: absolute;
    top: 56%;
    left: 30px;
    font-size: 16px;
    color: black;
    margin: 0px;
}

/*Decks - Pasar*/

.pasar{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.pasar button{
    width: 30px;
    height: 30px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: white;
    border: none;
    box-shadow: 1px 1px 3px white;
    cursor: pointer;
}

.pasar button:hover{
    background: #3d3d3d;
}

.pasar button:active{
    background-color: rgb(211, 211, 211);
    color: black;
}


#chests .allChests {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    place-items: center;

}

#chests .allChests .sobre {
    background-image: url(../img/sobre.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 488px;
    position: relative;
    transition: all 0.2s;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;

}

#chests .allChests .sobre:hover {
    scale: 1.03;
}

#chests .allChests .sobre button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 3px;
}

.resultado_sobre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    align-items: center;
    height: 100vh;
    padding: 0px 70px;
    place-items: center;
}

.resultado_sobre .carta {
    background-size: contain;
    background-repeat: no-repeat;
    width: 287px;
    height: 400px;
    position: relative;
    transition: all 0.2s;
    transform: translateY(-1000px); 
    border-radius: 10px;
}

.carta-0 {
    animation: appearFromTop 0.5s ease forwards;  
}

.carta-1 {
    animation: appearFromTop 0.5s 0.4s ease forwards;  
}

.carta-2 {
    animation: appearFromTop 0.5s 0.8s ease forwards;  
}

.carta-3 {
    animation: appearFromTop 0.5s 1.2s ease forwards;  
}

.resultado_sobre .carta .ataque-vida{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 22px 32px !important;
    font-size: 15px !important;
    font-weight: 800;
    font-family: "Goldman", sans-serif;
}

.resultado_sobre .carta .ataque-especial{
    position: absolute;
    top: 75%;
    font-size: 10px !important;
    font-weight: 400 !important;
    left: 35px;
    max-width: 240px;
}

.resultado_sobre .carta .nombreCarta{
    position: absolute;
    top: 56.5%;
    left: 30px;
    margin: 0px;
}

.QuickSell{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: -50px;
    gap: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.QuickSell button{
    background-color: #232323;
    color: white;
    border: 1px solid #02e2e2;
    transition: d;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.QuickSell button:hover{
    background-color: #00b1b1;
}

.QuickSell .divOro{
    display: flex;
    align-items: center;
    color: white;
    height: 25px;
    
}

.QuickSell .divOro img{
    width: 17px;
    height: 17px;
}

#putOnMarket{
    position: absolute;
    bottom: -82px;
    padding: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #232323;
    color: white;
    border: 1px solid #02e2e2;
    transition: d;
    display: flex;
    align-items: center;
    gap: 10px;

}

#putOnMarket:hover{
    background-color: #00b1b1;
}

.put_on_market {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #232323;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.put_on_market {
    display: none;
}

.put_on_market form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.salir{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.salir button{
    padding: 10px;
    width: 120px;
    height: 40px;
    background-color: #232323;
    color: white;
    border-radius: 3px;
}

.salir button {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid rgb(0, 247, 255);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    border: 1px solid rgb(0, 255, 234);
    opacity: 0;
    animation: mostrar 1s 1.4s ease forwards;
    
  }
  
  .salir button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
  }

@keyframes appearFromTop {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes mostrar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.carta:nth-child(1) {
    animation-delay: 0.1s;
}
.carta:nth-child(2) {
    animation-delay: 0.2s;
}
.carta:nth-child(3) {
    animation-delay: 0.3s;
}
.carta:nth-child(4) {
    animation-delay: 0.4s;
}


/*sobres*/
#sobres_god {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

#cerrarSobre {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.sobres_god_divGeneral {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobres_god_divGeneral .sobre {
    background-image: url(../img/sobre.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 700px;
    box-shadow: 0px 0px 50px white;
    border-radius: 3px;
    animation: boxShadow 1.5s infinite alternate;
}

@keyframes boxShadow {
    0% {
        box-shadow: 0px 0px 20px white;
    }
    100%{
        box-shadow: 0px 0px 50px black;
    
    }
}

.sobres_god_divGeneral form button {
    padding: 0px;
    width: 120px;
    height: 40px;
    display: flex;
    border: none;
    font-size: 25px;
    box-shadow: 0px 4px 1px white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(45deg, #4386B7, #83D2F3); /* Degradado */
    color: white;
    margin-top: 30px;
    border-radius: 4px;
    transition: all 0.2s;

}

.sobres_god_divGeneral form button:hover {
    background: linear-gradient(45deg, #83D2F3, #4386B7);
}

.sobres_god_divGeneral form button:active {
    box-shadow: 0px 1px 1px white ;
    transform: translateY(4px);
}

/*Settings*/

#settings {
    font-family: "koho", sans-serif;
    margin-left: 300px;
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    padding: 70px;
}

#settings .container {
    color: white;

}

#settings .container h1 {
    font-size: 2em;
    border-left: 20px solid #ffffff;
    padding-left: 20px;

}

#settings .container h2 {
    font-size: 1.5em;
    margin: 20px 0px;
    border-bottom: 1px solid #ffffff;
}

#settings .container h3 {
    font-size: 1em;
    margin: 0px 0px;
}

#settings .setting div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    margin: 20px 0px;
}

#settings .setting div input[type="range"] {
    width: 300px;
    height: 20px;
    background-color: #9D9D9D;
    border: none;
    box-shadow: 1px 1px 3px #272727 inset;
}

#settings .setting form button {
    padding: 0px;
    width: 120px;
    height: 40px;
    display: flex;
    background: transparent;
    border: none;
    font-size: 25px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #d30000;
    color: white;
    margin-top: 5%;
}

#settings .setting form button:active {
    box-shadow: 1px 1px 3px black inset;
    margin-top: 5%;
}