@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');


/* custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #535353;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

*{
    user-select: none;

}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
    background-color: #292929;
}

header {
    position: fixed;
    height: 100vh;
    width: 300px;
    box-shadow: 3px 0px 5px rgb(0, 0, 0);
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header .logo img {
    width: 40%;
}


header .logo h1 {
    font-size: 3em;
    font-family: "MedievalSharp", cursive;
}

header nav {
    width: 100%;
}

header nav ul {
    margin: 0px;
    max-width: 100%;
    font-family: "koho", sans-serif;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header nav ul a {
    padding: 25px 0px;
    font-size: 33px;
    width: 100%;
    box-shadow: 0px 3px 5px rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header nav ul a:hover {
    background-color: #3b3b3b;
}

header nav ul a:active {
    background-color: #3b3b3b;
}

header .config {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px 0px;
    box-shadow: 0px -2px 5px black;
}

header .config:hover {
    background-color: #3b3b3b;
}

header .config i {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

header .config a {
    font-family: "koho", sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 33px;
    color: white;
    text-decoration: none;

}

/*menu*/
.perfil {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    background-color: #292929;
    height: 150px;
    clip-path: polygon(12% 0, 100% 0%, 100% 63%, 24% 63%);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding: 0px 20px;
}

.perfil .divUser img {
    width: 70px;
    border-radius: 50px;
    border: 3px solid white;

}

.perfil .divOro {
    margin-left: 150px;
}

.perfil .divOro img {
    width: 30px;
}

.perfil .divUser,
.perfil .divOro {
    display: flex;
    align-items: center;
    gap: 20px;
}

.perfil .divOro p,
.perfil .divUser p {
    font-size: 30px;
    color: white;
    font-family: "koho", sans-serif;
}

/*ChangeFoto*/

#changeFoto {
    position: absolute;
    top: 100px;
    right: 0;
    border-radius: 10px;
    background-color: #292929;
    width: 350px;
    height: 250px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    padding: 10px;
}


#changeFoto .changeFoto-iconos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
    align-items: center;
    overflow-y: auto;
    max-height: 250px;
}

.changeFoto-iconos img {
    width: 95px;
    border-radius: 50px;
    border: 3px solid white;
    transition: all 0.2 ease;
}

.changeFoto-iconos img:hover {
    filter: brightness(1.3);
}

#searchGame {
    font-family: "koho", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 50px;
    margin-right: 5%;
    padding: 15px 30px;
    font-size: 30px;
    background-color: #292929;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 8px 2px rgb(0, 0, 0);
    cursor: pointer;
}


#searchGame:hover {
    background-color: #3b3b3b;
    ;
}

#searchGame:active {
    background-color: #3b3b3b;
    box-shadow: 1px 3px 3px rgb(0, 0, 0) inset;
    transform: translateY(8px);
}

/*Information*/

#information {
    font-family: "koho", sans-serif;
    margin-left: 280px;
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    background-color: #292929;
    min-height: 100vh;
    padding: 70px;

}

#information .container {
    color: white;

}

#information .container h1 {
    font-size: 2em;
    border-left: 20px solid #ffffff;
    padding-left: 20px;

}

#information .container h2 {
    font-size: 1em;
    margin: 20px 0px;
    border-bottom: 1px solid #ffffff;
}

#information .container li {
    font-size: 0.8em;
}

#information .container p {
    font-size: 0.8em;
    margin: 20px 0px;
}

/*Shop*/
#shop {
    font-family: "koho", sans-serif;
    margin-left: 300px;
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    background-color: #292929;
    min-height: 100vh;
    padding: 0px;

}

#shop .container {
    color: white;
    margin: 0px 70px;
}

#shop .container .top {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    gap: 0px;
}

#shop .container .top h1 {
    margin-right: 30px;
}

#shop .container .top button {
    padding: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    background: transparent;
    border: none;
    font-size: 50px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active {
    box-shadow: 1px 3px 5px black inset;
}

#shop .container .all .filtrer {
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;

}

#shop .container .all .filtrer form {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding: 10px;
    background-color: #3d3d3d;
    box-shadow: 1px 3px 5px black;
}

#shop .container .all .filtrer form input[type="text"] {
    padding: 2px;
    width: 280px;
    box-shadow: 1px 1px 3px #272727 inset;
    border: none;
    background: #9D9D9D;
    color: black;
    font-size: 25px;
}

#shop .container .all .filtrer form select {
    padding: 2px;
    box-shadow: 1px 1px 3px #272727 inset;
    border: none;
    background: #9D9D9D;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#shop .container .all .filtrer form button {
    padding: 2px;
    box-shadow: 3px 3px 5px #272727;
    border: none;
    background: #9D9D9D;
    width: 37px;
    height: 37px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    cursor: pointer;

}

/*inventory*/

#inventory,
#chests,
#mazos {
    font-family: "koho", sans-serif;
    margin-left: 300px;
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    background-color: #292929;
    padding: 70px;
}

#chests,
#mazos {
    display: none;
}

#inventory .container,
#chests .container,
#mazos .container {
    color: white;
    margin: 0px 70px;
}

#inventory .container .links,
#chests .container .links,
#mazos .container .links {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 300px;
    display: flex;
    align-items: center;
    background-color: #3d3d3d;

}

#inventory .container .links div,
#chests .container .links div,
#mazos .container .links div {
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 66% 0, 100% 100%, 33% 100%);
    background-color: #000000;
    margin-right: -50px;
}

#inventory .container .links div:hover,
#chests .container .links div:hover,
#mazos .container .links div:hover {
    background-color: #3d3d3d;
}

#especial-link {
    clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%) !important;
}

#inventory .container .links div button,
#chests .container .links div button,
#mazos .container .links div button {
    border: none;
    background-color: transparent;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#inventory .container .links div button i,
#chests .container .links div button i,
#mazos .container .links div button i {
    color: white;
}

#inventory .container .links div button:hover .links div,
#chests .container .links div button:hover .links div,
#mazos .container .links div button:hover .links div {
    color: #696969;
}

#inventory .container .top,
#chests .container .top,
#mazos .container .top {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    gap: 0px;
}

#inventory .container .top h1,
#chests .container .top h1,
#mazos .container .top h1 {
    margin-right: 30px;
}

#inventory .container .top button,
#chests .container .top button,
#mazos .container .top button {
    padding: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    background: transparent;
    border: none;
    font-size: 50px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#inventory .container .allcards .filtrer {
    display: flex;
    justify-content: right;
    gap: 10px;

}

#inventory .container .allcards .filtrer form select {
    padding: 2px;
    box-shadow: 1px 1px 3px #272727 inset;
    border: none;
    background: #9D9D9D;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 5px;
}


#inventory .container .allcards .filtrer option {
    background-color: #9D9D9D;
    padding: 4px;
}

/*wrap*/
#inventory .container .allcards .yourCards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    align-items: center;
    margin-top: 5%;

}

#mazos .container .allMazos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    margin-top: 5%;
    background: #232323;
    padding: 20px;
    box-shadow: 0px 0px 15px black inset;
}

#mazos .container .allMazos div{
    width: 200px;
    height: 300px;
    background: #3d3d3d;
    display: flex;
}

.yourCards .carta {
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 500px;
    position: relative;
    transition: all 0.2s;

}

.yourCards .carta:hover {
    scale: 1.15;
}


.yourCards .carta p {
    position: absolute;
    font-size: 16px;
    color: black;
    margin: 0px;
    font-weight: 800;
    user-select: none;
}

.yourCards .carta .nombreCarta {
    top: 55%;
    left: 30px;
    margin: 0px;

}

.yourCards .carta .ataque-vida {
    bottom: 0;
    right: 0;
    margin: 40px 38px !important;
    font-size: 18px !important;
    font-weight: 800;
    font-family: "Goldman", sans-serif;
}

.yourCards .carta .ataque-especial {
    top: 75%;
    font-size: 11px !important;
    font-weight: 600 !important;
    left: 40px;
    max-width: 270px;

}

/*sobres*/
#sobres_god{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
.sobres_god_divGeneral{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobres_god_divGeneral .sobre{
    background-color: #232323;
    box-shadow: 0px 0px 15px black inset;
    width: 400px;
    height: 500px;
}

.sobres_god_divGeneral form button{
    padding: 0px;
    width: 120px;
    height: 40px;
    display: flex;
    background: transparent;
    border: none;
    font-size: 25px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #d30000;
    color: white;
    margin-top: 5%;

}
/*Settings*/

#settings {
    font-family: "koho", sans-serif;
    margin-left: 300px;
    padding: 0px 0px;
    font-size: 30px;
    border: none;
    padding: 70px;
}

#settings .container {
    color: white;

}

#settings .container h1 {
    font-size: 2em;
    border-left: 20px solid #ffffff;
    padding-left: 20px;

}

#settings .container h2 {
    font-size: 1.5em;
    margin: 20px 0px;
    border-bottom: 1px solid #ffffff;
}

#settings .container h3 {
    font-size: 1em;
    margin: 0px 0px;
}

#settings .setting div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    margin: 20px 0px;
}

#settings .setting div input[type="range"] {
    width: 300px;
    height: 20px;
    background-color: #9D9D9D;
    border: none;
    box-shadow: 1px 1px 3px #272727 inset;
}

#settings .setting form button {
    padding: 0px;
    width: 120px;
    height: 40px;
    display: flex;
    background: transparent;
    border: none;
    font-size: 25px;
    box-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #d30000;
    color: white;
    margin-top: 5%;
}

#settings .setting form button:active {
    box-shadow: 1px 1px 3px black inset;
    margin-top: 5%;
}