@import url('https://fonts.googleapis.com/css2?family=Kings&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    user-select: none;

}

body{
    background-image: url(../img/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.container{
    background-color: #292929;
    padding: 70px 40px;
    font-family: "KoHo", sans-serif;
    border-radius: 5px;
    width: 1050px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 20px #000000;
}

.container_left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_left img{
    width: 90%;
    border-radius: 2px;
}
.container_right{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.container_right h1{
    font-size: 3em;
    font-family: "Merienda";
    margin-bottom: 0px;
    margin-top: 0px;
    color: #FF6363;
    font-weight: 400;
}

.container p{
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    margin: 20px 5%;
}

.boton{
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 5%;
}

.container button{
    padding: 0px 18px;
    margin: 0px;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    background: linear-gradient(0deg, #971D1D 0%, #ED2525 100%);
    color: white;
    cursor: pointer;
    font-family: "Merienda";
    letter-spacing: 2px;
    margin-top: 0%;
}

#howtoplay, #legend{
    display: none;
}

#howtoplay h1, #legend h1{
    font-size: 3em;
    font-family: "Merienda";
    margin-bottom: 0px;
    margin-top: 0px;
    color: #FF6363;
    font-weight: 400;
}

#howtoplay p{
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    margin: 20px 5%;
}

#howtoplay .types{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 5%;
}

#howtoplay .types-left{
    width: 35%;
    text-align: left;
}

#howtoplay .types-right{
    width: 65%;
    text-align: left;
}

#howtoplay .types-left .all-types {
    display: flex;
    width: 70%;
    flex-wrap: wrap; /* Para que las imágenes se envuelvan en nuevas líneas al llenar la fila */
    justify-content: space-between; /* Para distribuir las imágenes uniformemente en cada fila */
    gap: 10px;
}

#howtoplay .types-left .all-types img {
    width: calc(33.33% - 10px); 
    border-radius: 100px;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.all-types img:hover{
    scale: 1.2;
}

.all-types img[title] {
    font-weight: bold;
    color: #333; 
    font-size: 14px;
}

#legend .all{
    display: flex;
    justify-content: center;
    margin: 20px 5%;
}

#legend .left{
    width: 45%;
    margin-left: 5%;
}

#legend .left h2{
    font-size: 2.3em;
    text-align: left;
    margin-left: 10px;
}

#legend .left ul{
    margin: 0px;
    padding: 0px;
    text-align: left;
}

#legend .left ul li{
    font-size: 1.5em;
    font-family: "merienda", sans-serif;
    font-weight: 400;
    margin: 0px 5%;
    list-style: none;
}

#legend .left ul li .R{
    font-size: 2em;
    text-shadow: 2px 0 #ffffff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color: yellow;
    font-weight: 900;
}


#legend .left ul li .EXT{
    font-size: 2em;
    color: rgb(240, 0, 0);
    text-shadow: 2px 0 #ffffff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-weight: 900;
}


#legend .left ul li .EXC{
    font-size: 2em;
    color: rgb(150, 0, 196);
    text-shadow: 2px 0 #ffffff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-weight: 900;
}


#legend .left ul li .ESP{
    font-size: 2em;
    color: rgb(0, 37, 204);
    text-shadow: 2px 0 #ffffff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-weight: 900;
}


#legend .left ul li .C{
    font-size: 2em;
    color: rgb(185, 185, 185);
    text-shadow: 2px 0 #ffffff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-weight: 900;
}

#legend .right{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#legend .right .mana{
    display: flex;
    justify-content: center;
    align-items: center;
}

#legend .right .mana img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0px 0px;
}

#legend .right .mana p{

    font-size: 1.1em;
    font-weight: 400;
    margin: 5% 0px;
}

#legend .right .ataque-vida{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#legend .right .ataque-vida p{

    font-size: 1.1em;
    font-weight: 400;
    margin: 5% 0px;

}

#legend .right .ataque-vida h2{
    font-size: 3em;
    font-weight: 800;
    font-family: "goldman", sans-serif;
}

@media screen and (max-width: 1200px) {

    .container{
        width: 750px;
    }

    .container_right h1{
        font-size: 2.2em;
    }

    .container p{
        font-size: 1em;
    }

    .container button{
        padding: 0px 10px;
        font-size: 1.2em;
    }

    #howtoplay p{
        font-size: 1.1em;
    }

    .types-right img{
        width: 70%;
    }
    #howtoplay h1, #legend h1{
        font-size: 2.2em;
    }
    #howtoplay .types{
        margin: 0px 5%;
    }
}