body{
    background-image: url(../img/backgroundgame.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;

}

header{
    position: fixed;
    height: 100vh;
    width: 15%;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header .logo h1{
    font-size: 3em;
}
